@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="~/img/tyson-foods-logo-3.png" width="300" height="300" />
    <h1 class="display-4">KCK Plant</h1>
    <h1 class="display-4">Maintenance Website</h1>
</div>
